$brand_red: rgb(197, 58, 63);
$brand_blue: rgb(51, 67, 127);
$brand_yellow: rgb(241, 219, 68);
$brand_orange: rgb(230, 160, 55);
$brand_green: rgb(122, 191, 181);

$color-white: #ffffff;
$color-black: #000000;